@media screen and (min-width: 480px) {
  

  
  /**********************************
  PAGE: PORTFOLIO
  ***********************************/
  
  #book ul li {
    width: 190px;
  }
  
  #book ul li:nth-child(4n) {
    clear: left;
  }
  
  /**********************************
  PAGE: ABOUT
  ***********************************/

  
}